<header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <!-- <div class="fa fa-bars tooltips" id="bottonSide" ></div> -->
                  <img src="{{ asset('bundles/template/img/buttonside.png') }}" 
                  		class="fa fa-bars tooltips" 
                  		id= "bottonSide" 
                  		data-placement = "right"
                  		data-original-title = "Toggle Navigation"
                  />
                  
              </div>

            <img src="{{ asset('bundles/template/img/air-france-klm-logo_e5eaf9_.png') }}" class="logo" />
            <a href="{{ path('general_logout') }}" 
                class='btn logout'
             >Logout</a>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      