{% extends '::base.html.twig' %}
{% block title %}Comment History{% endblock %}

{% block body %}
    <!-- {# % render controller('LiveGeekBundle:Default:onlineUsers') % #}-->
    <div class="row">
		<div class="col-lg-12 main-chart">
			<h1>Sector Comment History</h1>
			<br />
			
			<div class='row mt b1'>
				<div class="col-md-12 col-sm-12 t1">
					{{ include('GeneralWidgetBundle:FA:subsect_comment_histo.html.twig') }}
				</div>
			</div>
			
		</div>
	</div>
	
{% endblock %}