{% extends '::base.html.twig' %}
{% block title %}Price And Perf Dashboard{% endblock %}

{% block body %}

 	<script type="text/javascript">
	$(function() {
		setInterval(function() {
    		$('#w0').load(location.href+' #w0')
  		}, 15000); //refresh every 15s
	});
	</script>
	
    <div class="row">
		<div class="col-lg-12 main-chart">
			<h1>Price And Perf Dashboard</h1>
			
			<div class="row mtbox">
				<div class="col-md-4 col-sm-4">
                  	{{ include('GeneralWidgetBundle:User:user_info.html.twig') }}
                </div>
            </div>
            
			<div class="row mt1">
				<div class="col-md-12 col-sm-12">
					<div id="w0">
                  		{{ include('GeneralWidgetBundle:Admin:db_clean_cache.html.twig') }}
                  	</div>
                </div>
			</div>
		</div>
	</div>
	
{% endblock %}